name: Guide Notebooks Regression - EC2
run-name: ${{ github.ref_name }} - Guide Notebooks Regression - EC2
on: [push]
jobs:
  start-runner:
    name: Start self-hosted EC2 runner
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.start-ec2-runner.outputs.label }}
      ec2-instance-id: ${{ steps.start-ec2-runner.outputs.ec2-instance-id }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_KEY_SECRET }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Start EC2 runner
        id: start-ec2-runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: start
          github-token: ${{ secrets.GH_TOKEN }}
          ec2-image-id: ${{ vars.AWS_IMAGE_ID }}
          ec2-instance-type: ${{ vars.AWS_INSTANCE_TYPE }}
          subnet-id: ${{ vars.AWS_SUBNET }}
          security-group-id: ${{ vars.AWS_SECURITY_GROUP }}

          
  do-the-job:
    name: Do the job on the runner
    needs: start-runner # required to start the main job when the runner is ready
    runs-on: ${{ needs.start-runner.outputs.label }} # run the job on the newly created runner
    steps:
      - name: Install singularity
        run: |
              sudo apt-get update && sudo apt-get install -y \
              build-essential \
              libssl-dev \
              uuid-dev \
              libgpgme11-dev \
              squashfs-tools \
              libseccomp-dev \
              pkg-config

              export VERSION=1.21.1 OS=linux ARCH=amd64 && \
              wget https://dl.google.com/go/go$VERSION.$OS-$ARCH.tar.gz && \
              sudo tar -C /usr/local -xzvf go$VERSION.$OS-$ARCH.tar.gz && \
              rm go$VERSION.$OS-$ARCH.tar.gz


              echo 'export GOPATH=${HOME}/go' >> ~/.bashrc && \
              echo 'export PATH=/usr/local/go/bin:${PATH}:${GOPATH}/bin' >> ~/.bashrc && \
              source ~/.bashrc


              go get -u github.com/golang/dep/cmd/dep

              go get -d github.com/sylabs/singularity

              export VERSION=v3.8.6 \
              cd $GOPATH/src/github.com/sylabs/singularity && \
              git fetch && \
              git checkout $VERSION

              ./mconfig && \
              make -C ./builddir && \
              sudo make -C ./builddir install

              . /usr/local/etc/bash_completion.d/singularity

              export VERSION=3.8.6 && # adjust this as necessary \
              wget https://github.com/sylabs/singularity/releases/download/v${VERSION}/singularity-${VERSION}.tar.gz && \
              rpmbuild -tb singularity-${VERSION}.tar.gz && \
              sudo rpm -ivh ~/rpmbuild/RPMS/x86_64/singularity-$VERSION-1.el7.x86_64.rpm && \
              rm -rf ~/rpmbuild singularity-$VERSION*.tar.gz

              

  stop-runner:
    name: Stop self-hosted EC2 runner
    needs:
      - start-runner # required to get output from the start-runner job
      - do-the-job # required to wait when the main job is done
    runs-on: ubuntu-latest
    if: ${{ always() }} # required to stop the runner even if the error happened in the previous jobs
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_KEY_SECRET }}
          aws-region: ${{ vars.AWS_REGION }}
      - name: Stop EC2 runner
        uses: machulav/ec2-github-runner@v2
        with:
          mode: stop
          github-token: ${{ secrets.GH_TOKEN }}
          label: ${{ needs.start-runner.outputs.label }}
          ec2-instance-id: ${{ needs.start-runner.outputs.ec2-instance-id }}
