name: Testing
run-name: ${{ github.ref_name }} - Testing
on: [push]

jobs:
  testing:
    runs-on: ubuntu-latest

    steps:
      - name: Lol
        run: python
        continue-on-error: true

      - name: Test
        run: echo "hello world!"